
body 
{
background-color: black;
background-image: url('/media/background/bruhnew.png');
}

.linkimg{border-radius:20px;
border-style: solid;
border-color: dimgrey;}

.jumbotron {
display: block;
height: 100%;
width: 100%;
background-color: grey;
box-shadow: 0px 0px 20px 10px #333333;
border-style: solid;
border-color: dimgrey;
}
a *{
	color:aquamarine;
}
* {
	color:white;
}
*[class*="col-"] {padding:35px 35px}
*[class*="col-"] .nopad {padding:0px 0px}

.block {
  background: #ffffff;
  position: relative;
  margin-top: 100px;
  height: 1000px;
}
.forefront-element {
	-webkit-transform: translateZ(999px) scale(.7);
	transform: translateZ(999px) scale(.7);
	z-index: 1;
}

.base-element {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.background-element {
	-webkit-transform: translateZ(-999px) scale(2);
	transform: translateZ(-999px) scale(2);
	z-index: 3;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
}